@borderOffset: -16px;
@borderWidth: 4px;
@borderOffsetNone: -@borderWidth;

.widget-selector {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.widget-selector__target {
  position: absolute;
  cursor: pointer;

  &-top {
    // cursor: pointer;
    width: calc(100% - 2 * var(--borderOffset));
    height: calc(0px - var(--borderOffset));
    top: var(--borderOffset);
    left: var(--borderOffset);
  }

  &-bottom {
    // cursor: pointer;
    width: calc(100% - 2 * var(--borderOffset));
    height: calc(0px - var(--borderOffset));
    bottom: var(--borderOffset);
    left: var(--borderOffset);
  }

  &-right {
    // cursor: ew-resize;
    height: 100%;
    width: calc(0px - var(--borderOffset));
    right: var(--borderOffset);
  }

  &-left {
    // cursor: ew-resize;
    height: 100%;
    width: calc(0px - var(--borderOffset));
    left: var(--borderOffset);
  }
}

.widget-selector__container {
  width: fit-content;
  height: fit-content;

  & {
    &::before {
      top: @borderOffsetNone;
      bottom: @borderOffsetNone;
      left: @borderOffsetNone;
      right: @borderOffsetNone;
    }
  }

  &-offset {
    &::before {
      top: var(--borderOffset);
      bottom: var(--borderOffset);
      left: var(--borderOffset);
      right: var(--borderOffset);
    }
  }

  &::before {
    content: "";
    position: absolute;
    pointer-events: none;
    // box-shadow: 0 0 0 3px rgba(@grey, 0);
    border: 2px solid rgba(@grey, 0);
    border-radius: 8px;
    transition-property: border;
    transition-duration: 100ms;
    transition-timing-function: @bezier-standard;
  }

  &--hover::before {
    border: 2px solid rgba(@grey, 0.25);
    // box-shadow: 0 0 0 3px rgba(@grey, 0.25);
  }

  &--hover-clickable::before {
    border: @borderWidth solid rgba(@blue, 0.25);
    // box-shadow: 0 0 0 3px rgba(@grey, 0.25);
  }

  &--selected::before {
    border: @borderWidth solid rgba(@blue, 0.5);
  }
}

.widget-selector__target--target-area {
  background-color: rgba(@red, 0.1);
}
