@handleSize: 16px;
@handleBorder: 3px;

.widget-resize-handle {
  width: @handleSize;
  height: @handleSize;
  border-radius: calc(@handleSize / 2);
  background-color: var(--backgroundColor);
  position: absolute;
  overflow: hidden;
  z-index: 3;

  opacity: 0;
  transform: scale(0.8);
  transition: transform, opacity, background-color, border;
  transition-duration: @duration-s;
  transition-timing-function: @bezier-fastout-slowin;

  // &--hovering {
  //   opacity: 1;
  //   // transform: scale(1);
  //   background-color: rgba(@grey, 0.5);
  //   // border: 2px solid rgba(@grey, 0.5);
  // }

  // &--hovering-clickable {
  //   opacity: 1;
  //   // transform: scale(1);
  //   border: @handleBorder solid rgba(@blue, 0.25);
  // }

  // &--selected {
  //   // opacity: 1;
  //   // transform: scale(1);
  //   // background-color: @blue;
  //   border: @handleBorder solid rgba(@blue, 0.5);
  // }

  // &:hover {
  //   transform: scale(1.2);
  //   background-color: @blue;
  //   // border: @handleBorder solid rgba(@blue, 0.5);
  // }

  &--left {
    left: calc(0px - (@handleSize / 2) + 2px - var(--offsetValue));
    top: calc(50% - (@handleSize / 2));
  }

  &--right {
    right: calc(0px - (@handleSize / 2) + 2px - var(--offsetValue));
    top: calc(50% - (@handleSize / 2));
  }

  &--top {
    top: calc(0px - (@handleSize / 2) - 2px);
    left: calc(50% - (@handleSize / 2));
  }

  &--bottom {
    bottom: calc(0px - (@handleSize / 2) - 2px);
    left: calc(50% - (@handleSize / 2));
  }

  &--top-left {
    top: calc(0px - (@handleSize / 2) - 2px);
    left: calc(0px - (@handleSize / 2) - 2px);
  }

  &--top-right {
    top: calc(0px - (@handleSize / 2) - 2px);
    right: calc(0px - (@handleSize / 2) - 2px);
  }

  &--bottom-left {
    bottom: calc(0px - (@handleSize / 2) - 2px);
    left: calc(0px - (@handleSize / 2) - 2px);
  }

  &--bottom-right {
    bottom: calc(0px - (@handleSize / 2) - 2px);
    right: calc(0px - (@handleSize / 2) - 2px);
  }
}

.widget-selector__resize-handle--enter-active,
.widget-selector__resize-handle--enter-done {
  opacity: 1;
  transform: scale(1);

  &:hover {
    transform: scale(1.2);
    // background-color: @blue;
    // border: @handleBorder solid rgba(@blue, 0.5);
  }
}

.widget-resize-handle__background {
  width: 100%;
  height: 100%;
  background-color: rgba(@blue, 1);

  transition: background-color;
  transition-duration: @duration-s;
  transition-timing-function: @bezier-fastout-slowin;

  &--hovering {
    background-color: rgba(@grey, 0.5);
    // background-color: @blue;
  }

  &:hover {
    background-color: @blue;
  }
}

.widget-resize-handle--target-area::before {
  content: "";
  background-color: rgba(@red, 0.1);
  width: @handleSize;
  height: @handleSize;
  position: absolute;
  top: calc(0px - @handleBorder);
  left: calc(0px - @handleBorder);
}
