.widget-resize-handle {
  @handleSize: 16px;

  width: @handleSize;
  height: @handleSize;
  // margin: @space-s;
  border-radius: calc(@handleSize / 2);
  background-color: @blue;
  border: 3px solid @blue;
  // border: 2px solid rgba(@grey, 0.5);
  position: absolute;
  z-index: 3;

  opacity: 0;
  transform: scale(0.8);
  transition: transform, opacity, background-color, border;
  transition-duration: @duration-s;
  transition-timing-function: @bezier-fastout-slowin;

  &--left {
    left: calc(0px - (@handleSize / 2) + 2px - var(--offsetValue));
    top: calc(50% - (@handleSize / 2));
  }

  &--right {
    right: calc(0px - (@handleSize / 2) + 2px - var(--offsetValue));
    top: calc(50% - (@handleSize / 2));
  }

  &--top {
    top: calc(0px - (@handleSize / 2) - 2px);
    left: calc(50% - (@handleSize / 2));
  }

  &--bottom {
    bottom: calc(0px - (@handleSize / 2) - 2px);
    left: calc(50% - (@handleSize / 2));
  }

  &--top-left {
    top: calc(0px - (@handleSize / 2) - 2px);
    left: calc(0px - (@handleSize / 2) - 2px);
  }

  &--top-right {
    top: calc(0px - (@handleSize / 2) - 2px);
    right: calc(0px - (@handleSize / 2) - 2px);
  }

  &--bottom-left {
    bottom: calc(0px - (@handleSize / 2) - 2px);
    left: calc(0px - (@handleSize / 2) - 2px);
  }

  &--bottom-right {
    bottom: calc(0px - (@handleSize / 2) - 2px);
    right: calc(0px - (@handleSize / 2) - 2px);
  }
}

.widget-selector__resize-handle--enter-active,
.widget-selector__resize-handle--enter-done {
  opacity: 1;
  transform: scale(1);

  &:hover {
    transform: scale(1.2);
    // background-color: @blue;
    // border: 0px solid rgba(@blue, 0.5);
  }
}
